<div class="row justify-content-center">
    <div class="card">
      <div class="card-header"><h2>Create Task</h2></div>
      <div class="card-body">
        <%=form_for @task do |f|%>
          <div class="field form-group">
            <div class="row">
              <div class="col-sm-4">
                <%=f.label 'name' %>:
              </div>
              <div class="col-sm-8">
                <%=f.text_field :name , class: "form-control"  %>
              </div>
            </div>
          </div>
          <div class="field form-group">
            <div class="row">
              <div class="col-sm-4">
                <%=f.label 'status' %>:
              </div>
              <div class="col-sm-8">
                <%= f.select(:status, ['Backlog', 'In-progress', 'Done'], {}, { :class => 'form-control' }) %><br>

              </div>
            </div>
          </div>      
          <div class="field form-group">
            <div class="row">
              <div class="col-sm-4">
                <%=f.label 'end_date'%>:
              </div>
              <div class="col-sm-8">
                <%= f.datetime_select(:end_date, {}, {:class => 'datepicker'}) %>
              </div>
            </div>
          </div>
          <div class="field form-group">
            <div class="row justify-content-md-center">
                <%= f.submit %>
            </div>
          </div>
      <%end%>
    </div>
</div>
